# General
*.log
*.tmp
.DS_Store

# Arduino specific
*.hex
*.bin
*.o
*.d
*.elf
*.a
*.eep

# VSCode specific
.vscode/
*.code-workspace

# Build files
/build/
/tmp/

# Node.js specific
node_modules/
npm-debug.log
package-lock.json
